[submodule "disarm-app"]
	path = disarm-app
	url = https://github.com/disarm-platform/disarm-app
[submodule "config-editor"]
	path = config-editor
	url = https://github.com/disarm-platform/config-editor
[submodule "disarm-server"]
	path = disarm-server
	url = https://github.com/disarm-platform/disarm-server
