app.$DOMAIN {
  log app.log
  root disarm-app
  rewrite / {
    to {path} /index.html
  }
}

editor.$DOMAIN {
  log editor.log
  rewrite / {
    to /editor.html
  }
}

api.$DOMAIN {
  log api.log
  proxy / :3000
}